.hoverArea {
  --background-color: white;

  background-color: var(--background-color);
  box-sizing: initial;
  border: var(--border-width) solid var(--background-color);
  height: var(--hover-area-height);
  left: var(--left);
  opacity: var(--opacity);
  outline: var(--outline);
  overflow: var(--overflow);
  position: absolute;
  top: var(--top);
  width: var(--hover-area-width);
  z-index: var(--z-index);

  @mixin hover {
    opacity: 1;
    overflow: visible;

    .textBox {
      opacity: 1;
    }
  }
}

.textBox {
  background-color: var(--background-color);
  display: flex;
  flex-direction: var(--flex-direction);
  height: var(--text-box-height);
  justify-content: space-around;
  position: relative;
  width: var(--text-box-width);
}

.line {
  letter-spacing: 0.05em;
  color: black;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1;
  margin: 0;
  user-select: text;
  white-space: nowrap;
  writing-mode: var(--writing-mode);

  &::selection {
    background-color: var(--mantine-color-blue-1);
  }
}
