.outerContainer {
  --base-text-size: 1.5rem;
  --outer-container-padding: 4rem;

  direction: ltr;
  padding: var(--outer-container-padding);

  & h1 {
    font-size: calc(var(--base-text-size) * 1.8);
    line-height: 2;
  }

  & h2 {
    font-size: calc(var(--base-text-size) * 1.4);
    line-height: 2;
  }

  & h3 {
    font-size: calc(var(--base-text-size) * 1.2);
    line-height: 2;
  }

  & h4 {
    font-size: calc(var(--base-text-size) * 1.1);
    font-weight: 400;
    line-height: 2;
  }

  & rt {
    user-select: none;
  }
}

.containerHorizontal {
  margin-inline: auto;
  max-inline-size: calc(var(--base-text-size) * 35);

  & p {
    font-size: var(--base-text-size);
    font-family: 'Hiragino Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
    line-height: 1.8;
    margin-block-end: 1rem;
    margin-block-start: 0;
  }

  & h1 {
    margin-block-end: calc(var(--base-text-size) * 4);
  }

  & h2 {
    margin-block: calc(var(--base-text-size) * 2);
  }

  & h2:has(+ h3) {
    margin-block-end: calc(var(--base-text-size) * 1.25);
  }

  & h3 {
    margin-block: calc(var(--base-text-size) * 1.25);
  }

  & h4 {
    margin-block: calc(var(--base-text-size) * 0.75);
  }

  & p + h2 {
    margin-block-start: calc(var(--base-text-size) * 6);
  }

  & p + h3,
  & p + h4 {
    margin-block-start: calc(var(--base-text-size) * 3);
  }

  & button {
    top: 0.075em;
  }
}

.containerVertical {
  --max-inline-content-size: calc(var(--base-text-size) * 38);
  --inline-size: min(
    var(--max-inline-content-size),
    calc(100vh - 2 * var(--outer-container-padding))
  );

  margin-inline: calc(
    ((100vh - var(--inline-size)) - (2 * var(--outer-container-padding))) / 2
  );
  inline-size: var(--inline-size);

  & p {
    font-size: var(--base-text-size);
    font-family: 'Hiragino Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
    line-height: 2;
    margin-block: 0;
  }

  & h1 {
    margin-block-end: calc(var(--base-text-size) * 3);
    margin-inline-start: calc(var(--base-text-size) * 1);
  }

  & h2 {
    margin-block-start: calc(var(--base-text-size) * 8);
    margin-block-end: calc(var(--base-text-size) * 2.5);
    margin-inline-start: calc(var(--base-text-size) * 1);
  }

  & h3 {
    margin-block-start: calc(var(--base-text-size) * 2.5);
    margin-block-end: calc(var(--base-text-size) * 2.5);
    margin-inline-start: calc(var(--base-text-size) * 2);
  }

  & h4 {
    margin-block-start: calc(var(--base-text-size) * 2.5);
    margin-block-end: calc(var(--base-text-size) * 2.5);
    margin-inline-start: calc(var(--base-text-size) * 3);
  }

  & p + h3 {
    margin-block-start: calc(var(--base-text-size) * 6);
  }
}
