.unorderedList {
  margin: 0;
  padding: 0;
  word-break: break-word;
}

.listItem {
  display: var(--display);
  vertical-align: top;

  &:not(:last-child)::after {
    content: '・';
    opacity: 0.3;
  }
}
