.container {
  --gap: 2rem;

  align-items: flex-start;
  display: flex;
  gap: var(--gap);
  max-width: calc(var(--cover-width) + var(--gap) + var(--second-column-width));

  @media (max-width: 47em) {
    --gap: 2.25rem;
    --second-column-width: 100% !important;

    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }
}

.firstColumn {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
  max-width: var(--second-column-max-width);
  width: var(--second-column-width);

  @media (max-width: 47em) {
    --second-column-width: 100% !important;

    flex-direction: column;
    max-width: revert;
    text-align: center;
  }
}

.titleAndAuthors {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  width: 100%;

  @media (max-width: 47em) {
    align-items: center;
  }
}

.author {
  font-size: rem(15);
}
