.container {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: var(--flex-direction);
  font-size: var(--font-size);
  height: var(--height);
  justify-content: space-between;
  left: var(--left);
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: var(--top);
  width: var(--width);

  @mixin hover {
    opacity: 1;
  }
}

.line {
  white-space: nowrap;
  writing-mode: var(--writing-mode);
}
