.scrollArea {
  --leeway-for-hover-transform: 0.125rem;
  --leeway-for-indicator: 0.5rem;
  --scrollbar-padding: 0.9rem;

  --offset-bottom: calc(
    var(--leeway-for-hover-transform) + var(--scrollbar-padding)
  );
  --offset-left: var(--leeway-for-hover-transform);
  --offset-right: calc(
    var(--leeway-for-hover-transform) + var(--leeway-for-indicator)
  );
  --offset-top: calc(
    var(--leeway-for-hover-transform) + var(--leeway-for-indicator)
  );

  margin-bottom: calc(var(--offset-bottom) * -1);
  margin-top: calc(var(--offset-top) * -1);
}

.scrollAreaViewport {
  padding-bottom: var(--offset-bottom);
  padding-left: var(--offset-left);
  padding-right: var(--offset-right);
  padding-top: var(--offset-top);
}

.volumesContainer {
  display: flex;
  gap: 1.25rem;
  width: max-content;

  & > a {
    width: 8rem;
  }
}
