.scrollArea {
  margin-bottom: -1rem;
  margin-top: -0.625rem;
  padding-bottom: 0.375rem;
}

.volumesContainer {
  display: flex;
  gap: 1.25rem;
  width: max-content;
  padding: 0.625rem 0.625rem 0.1875rem 0.125rem;

  & > a {
    width: 8rem;
  }
}
