.container {
  align-items: baseline;
  display: flex;

  & > div {
    position: relative;
  }
}

.superscriptFurigana {
  gap: 0.5rem;

  & > div {
    top: 0.03125rem;
  }
}

.bracketedFurigana {
  & > div {
    bottom: 0.15rem;
  }
}

.noFurigana {
  gap: 0.5rem;

  & > div {
    bottom: 0.15rem;
  }
}
