.container {
  --gap: var(--mantine-spacing-lg);

  align-items: center;
  /* container-type can't go in .worksContainer due to a Safari bug: */
  /* https://bugs.webkit.org/show_bug.cgi?id=256047                  */
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.worksContainer {
  --column-min-width: var(--column-min-width-desktop);

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(
    auto-fit,
    /* max-content is less than ideal when there are few volumes (because it
       makes column sizes inconsistent), but it provides the best balance
       between showing as many cards and as little whitespace as possible and
       allowing the cards to be bigger when there is sufficient space */
      minmax(var(--column-min-width), max-content)
  );
  justify-content: center;
  margin: 0 auto;
  max-width: var(--grid-width);
  width: 100%;

  @media (max-width: em(359px)) {
    --column-min-width: var(--column-min-width-mobile);
  }
}
